/.idea/
/.gradle/
/build/
/collection/build/
/demography/build/
/common/build/
*.iml
/deployments/
/collection/src/main/webapp/static
/collection/src/main/webapp/asset-manifest.json
/collection/src/main/webapp/favicon.ico
/collection/src/main/webapp/index.html
/certs/
/services/demography/build/
/services/demography/.gradle/
