/.idea/
/.gradle/
/build/
/collection/build/
/demography/build/
/common/build/
*.iml
/deployments/
/collection/src/main/webapp/static
/collection/src/main/webapp/asset-manifest.json
/collection/src/main/webapp/favicon.ico
/collection/src/main/webapp/index.html
/certs/
/services/config-server/build/
/services/config-server/.gradle/
/services/demography/.gradle/
/services/demography/build/
/services/demography/certs/
/services/collection-ejb/.gradle/
/services/collection-ejb/build/
/services/collection-ejb/certs/
/services/collection-service/.gradle/
/services/collection-service/build/
/services/collection-service/certs/
/services/collection-client/target
/services/collection-server/target
