/.idea/
/.gradle/
/build/
/collection/build/
/demography/build/
/common/build/
*.iml
/deployments/
/collection/src/main/webapp/static
/collection/src/main/webapp/asset-manifest.json
/collection/src/main/webapp/favicon.ico
/collection/src/main/webapp/index.html
/certs/
/services/config-server/build/
/services/config-server/.gradle/
/services/demography/.gradle/
/services/demography/build/
/services/collection-client/target
/services/collection-server/target
/frontend/build
/frontend/src/main/resources/static/
/services/eureka/build
